In [1]:
# Here, we will merge the train-dev-test splits from separate datasets into one joint train-dev-test split.

In [4]:
import pandas as pd

In [5]:
# Import datasets
core_train = pd.read_csv("C:/Users/tajak/Google Drive/GitHub/Genre-Datasets-Comparison/data-splits/CORE-sample-X-GENRE-train.csv", index_col = 0)
core_test = pd.read_csv("C:/Users/tajak/Google Drive/GitHub/Genre-Datasets-Comparison/data-splits/CORE-sample-X-GENRE-test.csv", index_col = 0)
core_dev = pd.read_csv("C:/Users/tajak/Google Drive/GitHub/Genre-Datasets-Comparison/data-splits/CORE-sample-X-GENRE-dev.csv", index_col = 0)

core_train

,text,labels
4144,"Seeking All Things Brilliant ""I want people to...",Other
17933,Meet Orchid du Bois I first met Hayley Mowday ...,Other
37312,Abstract Objective: Reporting bias due to soci...,Information/Explanation
10139,In 2009 the song was the focus of a successful...,Information/Explanation
40465,QuotW This was the week when neither rumours o...,News
...,...,...
6162,My computer has died and I need a new PC. I ge...,Forum
37393,Sex differences in humans Sex differences in h...,Information/Explanation
27036,Labor has brushed of the latest opinion poll s...,News
20990,Contents What Is Assault? 1. Definition of Ass...,Legal
44312,How can you persuade people 'in business' to t...,Instruction

In [9]:
ginco_train = pd.read_csv("C:/Users/tajak/Google Drive/GitHub/Genre-Datasets-Comparison/data-splits/GINCO-SL-X-GENRE-train.csv", index_col = 0)
ginco_test = pd.read_csv("C:/Users/tajak/Google Drive/GitHub/Genre-Datasets-Comparison/data-splits/GINCO-SL-X-GENRE-test.csv", index_col = 0)
ginco_dev = pd.read_csv("C:/Users/tajak/Google Drive/GitHub/Genre-Datasets-Comparison/data-splits/GINCO-SL-X-GENRE-dev.csv", index_col = 0)

ginco_train

,text,labels
981,Žakardska tkanina je splošna oznaka za vzorčas...,Information/Explanation
203,Kako nastane očka? <p/> Očetovstvo in materins...,Opinion/Argumentation
501,NOGOMETNO IGRIŠČE <p/> Goooolll ... Naši vodij...,Promotion
803,Tale pogovor je nastal s podporo festivala Slo...,Other
62,"Heh, me pa ob tovrstnih izjavah firbec matra.....",Forum
...,...,...
251,"1,50 EUR <p/> Študenti <p/> 1,50 EUR <p/> Muze...",Information/Explanation
264,"Imel Money, ne moreš nč po svoje nastavit, raz...",Forum
953,Velenje je že vrsto let opaženo kot izjemno ur...,Promotion
853,"SPREJEM GASILSKEGA VOZILA GVM-1 <p/> V soboto,...",News
744,Dodano k projektu: Simple Shop Poročilo kreira...,Forum

In [19]:
607 + 535

1142

In [15]:
ftd_train = pd.read_csv("C:/Users/tajak/Google Drive/GitHub/Genre-Datasets-Comparison/data-splits/FTD-X-GENRE-train.txt", index_col = 0, sep="\t")
ftd_test = pd.read_csv("C:/Users/tajak/Google Drive/GitHub/Genre-Datasets-Comparison/data-splits/FTD-X-GENRE-test.txt", index_col = 0, sep="\t")
ftd_dev = pd.read_csv("C:/Users/tajak/Google Drive/GitHub/Genre-Datasets-Comparison/data-splits/FTD-X-GENRE-dev.txt", index_col = 0, sep="\t")

ftd_train

,text,labels
1244,Publications and Workbooks by TransforMED Tran...,Promotion
707,The Wastepack Group is the leading support ser...,Promotion
646,Victoria Reviews 2001 and Gives Us the Lowdown...,Opinion/Argumentation
1121,We noticed that you 're using an unsupported b...,Promotion
822,Fanny - First In A Long Time : The Reprise Rec...,Information/Explanation
...,...,...
1318,Sound Pillow represents another way in which t...,Promotion
1393,Night vision scopes have been a quite signific...,Instruction
638,Personal stories - Leigh I was diagnosed over ...,Opinion/Argumentation
908,"A few days ago , in a galaxy far , far away .....",Prose/Lyrical
359,Harry Potter and the Philosopher's Stone - J. ...,Instruction

In [17]:
ftd_dev

                                                   text       labels
409   ( 4 miles [ 7 km ] one way ) This walk follows...  Instruction
1051  1 . DISCLAIMER The content of this site is for...        Legal
1473  Achieve a 35-45 % improvement in the important...    Promotion
1432  Why Passport to Recovery In seeking immediate ...    Promotion
682   The business world provides many potential car...    Promotion
...                                                 ...          ...
125   Tabs let you organize gadgets into groups Tabs...  Instruction
1437  RESEARCH DEVELOPMENT & RESULTS from Extensive ...    Promotion
453   N. 6 : A Protein Crystallographic Toolbox : CC...         News
690   High House is a small Victorian stone built co...    Promotion
432   After studying the Wordtracker results for the...    Promotion

[210 rows x 2 columns]

In [20]:
# Merge splits
train1 = pd.concat([core_train, ginco_train])

train1

,text,labels
4144,"Seeking All Things Brilliant ""I want people to...",Other
17933,Meet Orchid du Bois I first met Hayley Mowday ...,Other
37312,Abstract Objective: Reporting bias due to soci...,Information/Explanation
10139,In 2009 the song was the focus of a successful...,Information/Explanation
40465,QuotW This was the week when neither rumours o...,News
...,...,...
251,"1,50 EUR <p/> Študenti <p/> 1,50 EUR <p/> Muze...",Information/Explanation
264,"Imel Money, ne moreš nč po svoje nastavit, raz...",Forum
953,Velenje je že vrsto let opaženo kot izjemno ur...,Promotion
853,"SPREJEM GASILSKEGA VOZILA GVM-1 <p/> V soboto,...",News
744,Dodano k projektu: Simple Shop Poročilo kreira...,Forum

In [21]:
final_train = pd.concat([train1, ftd_train])

final_train

,text,labels
4144,"Seeking All Things Brilliant ""I want people to...",Other
17933,Meet Orchid du Bois I first met Hayley Mowday ...,Other
37312,Abstract Objective: Reporting bias due to soci...,Information/Explanation
10139,In 2009 the song was the focus of a successful...,Information/Explanation
40465,QuotW This was the week when neither rumours o...,News
...,...,...
1318,Sound Pillow represents another way in which t...,Promotion
1393,Night vision scopes have been a quite signific...,Instruction
638,Personal stories - Leigh I was diagnosed over ...,Opinion/Argumentation
908,"A few days ago , in a galaxy far , far away .....",Prose/Lyrical
359,Harry Potter and the Philosopher's Stone - J. ...,Instruction

In [23]:
final_train.reset_index(drop= True, inplace = True)
final_train

,text,labels
0,"Seeking All Things Brilliant ""I want people to...",Other
1,Meet Orchid du Bois I first met Hayley Mowday ...,Other
2,Abstract Objective: Reporting bias due to soci...,Information/Explanation
3,In 2009 the song was the focus of a successful...,Information/Explanation
4,QuotW This was the week when neither rumours o...,News
...,...,...
1767,Sound Pillow represents another way in which t...,Promotion
1768,Night vision scopes have been a quite signific...,Instruction
1769,Personal stories - Leigh I was diagnosed over ...,Opinion/Argumentation
1770,"A few days ago , in a galaxy far , far away .....",Prose/Lyrical
1771,Harry Potter and the Philosopher's Stone - J. ...,Instruction

In [24]:
# Save the file
final_train.to_csv("C:/Users/tajak/Google Drive/GitHub/Genre-Datasets-Comparison/data-splits/X-GENRE-train.csv", sep="\t")

In [25]:
# Merge splits
dev1 = pd.concat([core_dev, ginco_dev])

dev1

,text,labels
23139,"Yesterday, for the first time in 9 years, I em...",Opinion/Argumentation
630,Enjoy fun science experiments for kids that fe...,Instruction
29214,It is said that human resource professionals o...,Instruction
42912,This year will be a boom year -- for scaremong...,Opinion/Argumentation
24421,Mark Twain is said to have remarked that a gol...,Instruction
...,...,...
181,Še vedno vihar na nikogaršnji zemlji <p/> V po...,Opinion/Argumentation
402,Doc. dr. Matjaž Ambrožič (* 1967) je po zaklju...,Information/Explanation
553,Eden najbolj znanih slovenskih intelektualcev ...,Opinion/Argumentation
733,Redragon <p/> Theme Park Simulator je čistokrv...,Promotion
354,Izdelek tedna - 55 krat Karavanke <p/> V tednu...,Promotion

In [26]:
final_dev = pd.concat([dev1, ftd_dev])

final_dev

,text,labels
23139,"Yesterday, for the first time in 9 years, I em...",Opinion/Argumentation
630,Enjoy fun science experiments for kids that fe...,Instruction
29214,It is said that human resource professionals o...,Instruction
42912,This year will be a boom year -- for scaremong...,Opinion/Argumentation
24421,Mark Twain is said to have remarked that a gol...,Instruction
...,...,...
125,Tabs let you organize gadgets into groups Tabs...,Instruction
1437,RESEARCH DEVELOPMENT & RESULTS from Extensive ...,Promotion
453,N. 6 : A Protein Crystallographic Toolbox : CC...,News
690,High House is a small Victorian stone built co...,Promotion
432,After studying the Wordtracker results for the...,Promotion

In [27]:
final_dev.reset_index(drop= True, inplace = True)
final_dev

                                                  text                 labels
0    Yesterday, for the first time in 9 years, I em...  Opinion/Argumentation
1    Enjoy fun science experiments for kids that fe...            Instruction
2    It is said that human resource professionals o...            Instruction
3    This year will be a boom year -- for scaremong...  Opinion/Argumentation
4    Mark Twain is said to have remarked that a gol...            Instruction
..                                                 ...                    ...
587  Tabs let you organize gadgets into groups Tabs...            Instruction
588  RESEARCH DEVELOPMENT & RESULTS from Extensive ...              Promotion
589  N. 6 : A Protein Crystallographic Toolbox : CC...                   News
590  High House is a small Victorian stone built co...              Promotion
591  After studying the Wordtracker results for the...              Promotion

[592 rows x 2 columns]

In [31]:
# Save the file
final_dev.to_csv("C:/Users/tajak/Google Drive/GitHub/Genre-Datasets-Comparison/data-splits/X-GENRE-dev.csv", sep="\t")

In [32]:
# Merge splits
test1 = pd.concat([core_test, ginco_test])

test1

,text,labels
216,"grantarctic1 Never caught one Neels, but off t...",Forum
41678,Go back to Windows 7 or XP operating system If...,Forum
7171,Almost a quarter of Republicans think Obama 'm...,News
9960,Showcase Main menu You are here The Gatekeeper...,Prose/Lyrical
23790,It is the Time to Remember The unfulfilled Pro...,Opinion/Argumentation
...,...,...
439,Bolonjska prenova <p/> Osrednji cilj Bolonjske...,Information/Explanation
516,Ojačevalec brezžičnega WiFi signala A9 je odli...,Promotion
645,Japonska – Kyoto in gejše <p/> Angleška pisate...,Opinion/Argumentation
451,ZDA Romunijo pozivajo k obrambi neodvisnega so...,News
544,Mednarodni dan turističnih vodnikov <p/> 21. 2...,News

In [33]:
final_test = pd.concat([test1, ftd_test])

final_test

,text,labels
216,"grantarctic1 Never caught one Neels, but off t...",Forum
41678,Go back to Windows 7 or XP operating system If...,Forum
7171,Almost a quarter of Republicans think Obama 'm...,News
9960,Showcase Main menu You are here The Gatekeeper...,Prose/Lyrical
23790,It is the Time to Remember The unfulfilled Pro...,Opinion/Argumentation
...,...,...
1510,The planar ferrite sheet-based antenna measure...,Promotion
247,Skills for Working Life What is the course abo...,Instruction
261,"News Item : 3 February , 2003 Citizenship to s...",Promotion
520,ho-me-refinancing.com How to Use a Mortgage Lo...,Instruction
1548,The College of Behavioral and Social Science (...,News

In [34]:
final_test.reset_index(drop= True, inplace = True)
final_test

                                                  text                 labels
0    grantarctic1 Never caught one Neels, but off t...                  Forum
1    Go back to Windows 7 or XP operating system If...                  Forum
2    Almost a quarter of Republicans think Obama 'm...                   News
3    Showcase Main menu You are here The Gatekeeper...          Prose/Lyrical
4    It is the Time to Remember The unfulfilled Pro...  Opinion/Argumentation
..                                                 ...                    ...
587  The planar ferrite sheet-based antenna measure...              Promotion
588  Skills for Working Life What is the course abo...            Instruction
589  News Item : 3 February , 2003 Citizenship to s...              Promotion
590  ho-me-refinancing.com How to Use a Mortgage Lo...            Instruction
591  The College of Behavioral and Social Science (...                   News

[592 rows x 2 columns]

In [37]:
# Save the file
final_test.to_csv("C:/Users/tajak/Google Drive/GitHub/Genre-Datasets-Comparison/data-splits/X-GENRE-test.csv", sep="\t")

In [38]:
# Merge all three splits to calculate label distribution
entire1 = pd.concat([final_train, final_dev])
entire1

,text,labels
0,"Seeking All Things Brilliant ""I want people to...",Other
1,Meet Orchid du Bois I first met Hayley Mowday ...,Other
2,Abstract Objective: Reporting bias due to soci...,Information/Explanation
3,In 2009 the song was the focus of a successful...,Information/Explanation
4,QuotW This was the week when neither rumours o...,News
...,...,...
587,Tabs let you organize gadgets into groups Tabs...,Instruction
588,RESEARCH DEVELOPMENT & RESULTS from Extensive ...,Promotion
589,N. 6 : A Protein Crystallographic Toolbox : CC...,News
590,High House is a small Victorian stone built co...,Promotion
591,After studying the Wordtracker results for the...,Promotion

In [39]:
joined_splits = pd.concat([entire1, final_test])

joined_splits

,text,labels
0,"Seeking All Things Brilliant ""I want people to...",Other
1,Meet Orchid du Bois I first met Hayley Mowday ...,Other
2,Abstract Objective: Reporting bias due to soci...,Information/Explanation
3,In 2009 the song was the focus of a successful...,Information/Explanation
4,QuotW This was the week when neither rumours o...,News
...,...,...
587,The planar ferrite sheet-based antenna measure...,Promotion
588,Skills for Working Life What is the course abo...,Instruction
589,"News Item : 3 February , 2003 Citizenship to s...",Promotion
590,ho-me-refinancing.com How to Use a Mortgage Lo...,Instruction
591,The College of Behavioral and Social Science (...,News

In [41]:
# Analyze distribution of labels according to the new mapping
count = pd.DataFrame({"Count": list(joined_splits["labels"].value_counts()), "Percentage": list(joined_splits["labels"].value_counts(normalize=True))}, index = joined_splits["labels"].value_counts().index)

print(count.to_markdown())

|                         |   Count |   Percentage |
|:------------------------|--------:|-------------:|
| News                    |     573 |    0.193843  |
| Information/Explanation |     511 |    0.172869  |
| Promotion               |     478 |    0.161705  |
| Opinion/Argumentation   |     404 |    0.136671  |
| Instruction             |     351 |    0.118742  |
| Forum                   |     234 |    0.079161  |
| Prose/Lyrical           |     182 |    0.0615697 |
| Other                   |     116 |    0.0392422 |
| Legal                   |     107 |    0.0361976 |